
.home-main {
    display: flex;
    margin-top: 60px;
    animation: cd-bounce-2-inverse .6s;
}

.home-buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    max-height: 300px;
    -webkit-animation-name: fadein;
    animation-name: fadein;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;

    .home-button {
        margin: 10px 10px 10px 0px;
        min-width: 150px;
        max-width: 200px;
        font-size: 1.5em;
        background-color: rgba(86,118,163,.8);
        color: white;
        padding: 10px;
        border: 2px solid white;
        border-radius: 5%;
        text-decoration: none;

        @media screen and (max-width: 400px){
            margin: 5px 5px 5px 0px;
            min-width: 125px;
            max-width: 150px;
            font-size: 1.25em;
        }

        @media screen and (max-device-width: 640px) and (orientation: landscape){
            display: none;
        }
    }

    .home-button:hover {
        background-color: rgb(86,118,163);
        box-shadow: 0px 2px 2px 0px #000000;
    }

    @media screen and (max-width: 1024px){
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        max-height: 175px;
        max-width: 800px;
    }
}