.side-header {
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    width: 25%;
    font-size: 14px;
    color: white;
    text-align: left;
    background-color: rgba(86,118,163,.85);
    box-shadow: 0px 2px 4px #555555;

    @media screen and (max-width: 1024px){
        flex-direction: row;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        width: 100%;
        background-color: rgb(86,118,163);
        box-shadow: 4px 0px#555555;
    }
}

.header {
    position: relative;
    overflow: initial;
    height: auto;
    padding: 20px 20px 0px 20px;

    .header-content {
        display: block;
        text-align: center;
        color: white;    

        .about-img {            
            height: 200px;
            width: 200px;
            border: 5px solid white; 
            border-radius: 50%;
            -moz-border-radius:50%;
            -webkit-border-radius:50%;
            display: inline-block;
            overflow: hidden;
            box-shadow: 2px 2px 4px #555555;

            @media screen and (max-width: 1024px){
                border: 2px solid white; 
                height: 50px;
                width: 50px;
            }
        }

        img {
            transform: translate(-35px,-30px);

            @media screen and (max-width: 1024px){
                transform: scale(.5) translate(-320px,-295px);
            }
        }

        .header-titles {
            @media screen and (max-width: 1024px){
                display: none;
            }
        }

        @media screen and (max-width: 1024px){
            display: flex;
            flex-direction: row;
        }
    }

    @media screen and (max-width: 1024px){
        padding: 5px 20px;
    }

    h2 {
        margin: 10px 0px 15px 0px;
    }

    p {
        margin: 10px;
    }

    .name {
        color: #232323;
        text-decoration: none;
        transition: color 0.3s linear;
    }
    .name:hover {
        color: white;
        transition: color 0.3s linear;
    }

    .info {
        color: white; 
        text-decoration: none;
        transition: color 0.3s linear;
    }
    .info:hover {
        color: #232323;
        transition: color 0.3s linear;
    }

    .sidebar-navigation {
        list-style: none;
        padding: 20px 0px 0px 0px;

        @media screen and (min-width: 0px) and (max-width: 1024px) {
            display: none;
        }
        @media screen and (min-width: 1025px) and (max-width: 2048px) {
            display: block;
        }
    }
    .sidebar-link {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 18px;
        color: white;
        display: block;
        transition: color 0.3s linear; 
    }
    .sidebar-link:hover {
        color: #232323;
        transition: color 0.3s linear;
    }

    .sidebar-link-active {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 18px;
        color: #232323;
        display: block;
        transition: 0.3s;   
    }
}

.burger {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 15px 25px;
    z-index: 10;
  
  div {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
  }

    @media screen and (min-width: 0px) and (max-width: 1024px) {
        display: block;
    }
    @media screen and (min-width: 1025px) and (max-width: 2048px) {
        display: none;
    }
}
.burger:focus {
    outline: none;
}
.burger:hover {
    color: white;
    transition: color 0.3s linear; 
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  
  @media (max-width: 524px) {
    width: 100%;
  }
}

.menu-open {
    transform: translateX(-150px) translateY(110px);
}

.menu-closed {
    transform: translateY(-500px);   
}

.menu-item {
    text-decoration: none;
    transition: color 0.3s linear;
    color: #232323;

    @media (max-width: 524px) {
        font-size: 1.3rem;
        text-align: center;
    }

    &:hover {
        color: rgb(86,118,163);
    }
}
