.experience-main {
    display: flex;
    padding-bottom: 60px;
}

.vertical-timeline-element--work {
    h4.vertical-timeline-element-subtitle {
        font-weight: 300;
        margin: 5px 0px;
    }
}

.vertical-timeline-element-date {
    color: #232323;
}